<title>基本设置</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>设置</cite></a>
        <a><cite>基本设置</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">基本设置</div>
                <div class="layui-card-body" pad15>
                <script type="text/html" template lay-url="{{layui.cache.baseapi}}/api/set.system/websiteinfo" lay-data="{{JSON.stringify(layui.router().search)}}" lay-type="post" lay-done="layui.data.set_system_website(d)">
                    <div class="layui-form" wid100 lay-filter="LAY-app-set-website-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">系统名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="sitename" value="{{ d.data.sitename.value || '教育OA办公系统' }}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">系统域名</label>
                            <div class="layui-input-block">
                                <input type="text" name="domain" lay-verify="url" value="{{ d.data.domain.value || 'http://www.bainiu.com'}}" class="layui-input">
                            </div>
                        </div>
                        <!--<div class="layui-form-item">
                            <label class="layui-form-label">缓存时间</label>
                            <div class="layui-input-inline" style="width: 80px;">
                                <input type="text" name="cache" lay-verify="number" value="0" class="layui-input">
                            </div>
                            <div class="layui-input-inline layui-input-company">分钟</div>
                            <div class="layui-form-mid layui-word-aux">本地开发一般推荐设置为 0，线上环境建议设置为 10。</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">附件最大尺寸</label>
                            <div class="layui-input-inline" style="width: 80px;">
                                <input type="text" name="cache" lay-verify="number" value="2048" class="layui-input">
                            </div>
                            <div class="layui-input-inline layui-input-company">KB</div>
                            <div class="layui-form-mid layui-word-aux">提示：1 M = 1024 KB</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上传文件类型</label>
                            <div class="layui-input-block">
                                <input type="text" name="cache" value="png|gif|jpg|jpeg|zip|rar" class="layui-input">
                            </div>
                        </div>
                        -->
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <textarea name="title" class="layui-textarea">{{ d.data.title.value || ''}}</textarea>
                            </div>
                        </div>
                        <!--
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">META关键词</label>
                            <div class="layui-input-block">
                                <textarea name="keywords" class="layui-textarea"
                                    placeholder="多个关键词用英文状态 , 号分割">{{ d.data.keywords || ''}}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">META描述</label>
                            <div class="layui-input-block">
                                <textarea name="descript"
                                    class="layui-textarea">{{ d.data.descript || ''}}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">版权信息</label>
                            <div class="layui-input-block">
                                <textarea name="copyright"
                                    class="layui-textarea">{{ d.data.copyright || '© 2018 bainiu.com'}}</textarea>
                            </div>
                        </div>
                        -->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="LAY-app-set-website-submit">确认保存</button>
                            </div>
                        </div>
                    </div>
                </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.data.set_system_website = function(d) {
        layui.use(['admin', 'form'], function() {
            var $ = layui.jquery,
                admin = layui.admin,
                form = layui.form;

            form.render(null, 'LAY-app-set-website-form');
            form.on('submit(LAY-app-set-website-submit)', function(data){
                var params = data.field; //获取提交的字段
                admin.req({
                    url: layui.cache.baseapi + '/api/set.system/website',
                    type: 'POST',
                    data: params,
                    done: function(res) {
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                });
            });
        });
    }
</script>